.category {
	text-align: center;
	vertical-align: bottom;
}

.description {
	text-align: left;
	vertical-align: top;
}

.price {
	text-align: right;
	margin-right: 0;
	padding-right: 0;
	vertical-align: top;
}

.pizza_prices {
	display: block;
	margin: 20px auto 20px 150px;
}

h2 {
	margin: 10px auto 25px auto;
}

#logo {
	display: block;
	margin: 50px auto 50px auto;
	border: 5px solid #333300;
	padding: 10px 25px;
}

#soup_salad {
	margin-left: 120px;
}

#small_food .price {
	margin-left: 50px;
}