body {
	background: #522900 url('img/brick_background.jpg') repeat;
	font-family: 'Lato', Arial, sans-serif;
}

h2 {
	margin: 10px auto 25px auto;
}

.category {
	text-align: center;
	vertical-align: bottom;
}

.description {
	text-align: left;
	vertical-align: top;
	font-style: italic;
}

.price {
	text-align: right;
	margin-right: 0;
	padding-right: 0;
	vertical-align: top;
}

.pizza_prices {
	display: block;
	margin: 20px auto 20px 150px;
}

#container {
	background: #E0D6CC url('img/lightpaperfibers.png') repeat;
	display: block;
	margin: 20px auto 20px 125px;
	padding: 0 20px;
	box-shadow: 10px 10px 5px #333333;
}

#logo {
	display: block;
	margin: 50px auto 50px auto;
	border: 5px solid #333300;
	padding: 10px 25px;
}

#soup_salad {
	margin-left: 120px;
}

#small_food .price {
	margin-left: 50px;
}