body {
	font-family: 'Brawler', serif;
	color: #412000;
	background: #FFE0A3 url('img/tileable_wood_texture.png') repeat;
}

a {
	color: #412000;
	text-decoration: none;
	font-weight: bold;
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1.5em;
}

p {
	font-size: 1.1em;
}

ul.nav {
	margin: 0 auto 25px auto;
	list-style: none;
	float: right;
	vertical-align: top;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul.nav li {
	float: left;
	margin-right: 40px;
}


ul.nav li:hover {
	text-transform: uppercase;
}

ul.nav li a {
	color: #412000;
	display: block;
	text-decoration: none;
}

#logo {
	display: block;
	margin: 10px auto auto auto;
}

#header {
	font-size: 48px;
	text-align: center;
}

#coffee_and_cookie {
	margin-left: 100px;
}

#birthday_cookie {
	float: right;
	display: block;
	margin-right: 150px;
}

#intro {
	margin: 25px auto 25px auto;
}

#cookies {
	margin: 25px auto 25px auto;
}

#contact {
	margin-top: 20px;
}

#social_media {
	margin-bottom: 30px;
}

.btn {
	padding: 15px 30px;
	margin: 40px 0;
	color: #FAF0E6;
	background: #b9a999 url('img/texture.png') no-repeat right top;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;
}

btn:hover {
	background-color: #c3b6a8;
}

.cookies_imgs {
	border: 8px solid #b9a999;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.centered {
	text-align: center;
}












