body {
	font-family: 'Brawler', serif;
	color: #412000;
	background: #FFE0A3 url('img/tileable_wood_texture.png') repeat;
}

a {
	color: #412000;
	text-decoration: none;
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1.5em;
	color: #412000;
}

.btn {
	color: #412000;
	background: #b9a999 url('img/texture.png') no-repeat right top;
	padding: 15px 30px;
	margin: 40px 0px;
	border-radius: 25px;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #c3b6a8;
}

.container {
	margin: 50px auto;
}

ul.nav {
	margin-top: 50px;
	list-style: none;
	float: right;
}

ul.nav li {
	float: left;
	margin-right: 40px;
}

ul.nav li a {
	color: #412000;
	font-size: 20px;
}

#intro {
	margin: 50px 0 75px 0;	
}

#my_quirk img {
	border: 8px solid  #b9a999;
	margin: 0 0 20px 0;
}

#my_love img {
	border: 8px solid  #b9a999;	
}

#copyright {
	border-top: 8px solid #b9a999;
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
}

#coffee_and_cookie {
	display: block;
	margin: 30px auto 0 auto;
}

#quirk_cookies {
	display: block;
	margin-right: 0;
	margin-left: 50px;
}

#cookies {
	margin-top: 30px;
	border: 3px solid #FFFFFF;
	box-shadow: 5px 5px 5px #999999;
}

#header_nav {
	height: 183px;
}

#header {
	height: 50%;
	font-size: 32px;
	text-align: center;
}

#nav_bar {
	height: 50%;
}








